[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/preamble.vim"]
	path = vim/bundle/preamble.vim
	url = https://github.com/xaizek/preamble.vim.git
[submodule "vim/bundle/haskell-vim"]
	path = vim/bundle/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/bundle/vim-haskell-indent"]
	path = vim/bundle/haskell-indent
	url = https://github.com/itchyny/vim-haskell-indent.git
[submodule "vim/bundle/vimproc"]
	path = vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim
[submodule "vim/bundle/ghcmod"]
	path = vim/bundle/ghcmod
	url = https://github.com/eagletmt/ghcmod-vim
[submodule "vim/bundle/neocomplete"]
	path = vim/bundle/neocomplete
	url = https://github.com/Shougo/neocomplete.vim
[submodule "vim/bundle/neco-ghc"]
	path = vim/bundle/neco-ghc
	url = https://github.com/andrewcchen/neco-ghc.git
[submodule "vim/bundle/jellybeans"]
	path = vim/bundle/jellybeans
	url = https://github.com/nanotech/jellybeans.vim.git
[submodule "vim/bundle/gutentags"]
	path = vim/bundle/gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
