[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/preamble.vim"]
	path = vim/bundle/preamble.vim
	url = https://github.com/andrewcchen/preamble.vim.git
[submodule "vim/bundle/vim-easytags"]
	path = vim/bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags
[submodule "vim/bundle/vim-misc"]
	path = vim/bundle/vim-misc
	url = https://github.com/xolox/vim-misc
